certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
cryptography==45.0.6
gitdb==4.0.12
GitPython==3.1.45
idna==3.10
Jinja2==3.1.6
loguru==0.7.3
MarkupSafe==3.0.2
pycparser==2.22
PyGithub==2.7.0
PyJWT==2.10.1
PyNaCl==1.5.0
PyYAML==6.0.2
requests==2.32.5
smmap==5.0.2
typing_extensions==4.14.1
urllib3==2.5.0
